<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sun.spring.scheduler.demo.Company">
    <resultMap type="sun.spring.scheduler.demo.Company" id="companyResultMapper">
        <id column="id" property="id" javaType="int"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="address" property="address" javaType="java.lang.String"/>
    </resultMap>

    <select id="list" resultMap="companyResultMapper">
        select id,name,address from company
    </select>

</mapper>