<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sun.demo.mybatis.mapper.classesMapper">

    <!-- Example 1
        Classes and Teacher, one-to-one
    -->
    <select id="getClasses" parameterType="int" resultMap="ClassesBean">
        SELECT *
        FROM
          class c,teacher t
        WHERE c.teacher_id = t.t_id AND c.c_id = #{id}
    </select>

    <!-- Encapsulation resultSet -->
    <resultMap type="sun.demo.mybatis.entity.Classes" id="ClassesBean">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" javaType="sun.demo.mybatis.entity.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>


    <!-- Example 2
        Classes Teacher one-to-one
        Classes Student one-to-many
    -->
    <select id="getClasses2" parameterType="int" resultMap="ClassesBean2">
        SELECT *
        FROM
          class c, teacher t,student s
        WHERE
          c.teacher_id=t.t_id and c.c_id=s.class_id and  c.c_id=#{id}
    </select>

    <resultMap type="sun.demo.mybatis.entity.Classes" id="ClassesBean2">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" column="teacher_id" foreignColumn="t_id" javaType="sun.demo.mybatis.entity.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
        <collection property="students" ofType="sun.demo.mybatis.entity.Student">
            <id property="id" column="s_id"/>
            <result property="name" column="s_name"/>
        </collection>
    </resultMap>




</mapper>